<body>
<div class=".col-sm-6 .col-md-5 .col-md-offset-2 .col-lg-6 .col-lg-offset-0">
	<h2 style="text-align: center;color: white;">Welcome to qiscus Leave App</h2>
	<h3 style="text-align: center;color: white; ">You login as <%= current_user.username %> </h3>
</div>
</body>
