<br>
<br>

<div class="content">
    <div class="container">
      <div class="row">
    
          <section class="content-inner">
            <div class="card-wrap">
              <div class="card">
                <div class="card-main">
                  <div class="card-header">
                    <div class="card-inner">
                      <h1 class="card-heading "style="color: white;">Account history</h1>
                    </div>

                  </div>
                  <div class="card-main">
                    <hr>
                    <% @logs.each do |loga| %>
                      &nbsp; <li><div class="card-content"> <%= current_user.username  %> <%= loga.event %> at <%=time_ago_in_words loga.event_time %><hr> </div></li>
                 
                  
                   <br>

                        <% end %>
                        </div>

                      </div>
                   
                  </div>
                </div>
              </div>
            </div>
              
            </div>
        </div>
      </div>
    </div>
  </div>